.start-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
.inp-name {
  width: 50%;
  border: none;
  color: $bg-light;
  background-color: $fg-dark;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;

  &::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
  }
  &:focus {
    outline: none;
  }
}

.btn-play {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  color: $bg-light;
  background-color: $fg-dark;
  box-shadow: 6px 3px 3px grey;
  transition-duration: 300ms;

  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 12px 9px 9px grey;
  }

  &:active {
    transform: translate(0rem, 0rem);
    box-shadow: 6px 3px 3px grey;
  }
}
